fastapi
uvicorn[standard]
python-dotenv
httpx
huggingface_hub

# AI (CPU only - nhẹ nhất)
torch --index-url https://download.pytorch.org/whl/cpu
timm

# Xử lý ảnh
numpy==1.24.3
pillow

# Upload file
python-multipart
